<div class="map-container">
<%# Div for holding errors pertaining to new event form %>
<div id="map-errors" class="hidden alert alert-danger"></div>

<div class="map">
  <div class="new-event hidden" id="new-event">

    <%# TODO: Figure out why this is and move these addresses to configuration file %>

    <%# Production Server%>
    <%#<%= form_tag 'http://107.170.241.172:8000/events', remote: true, class: 'new-event-form', id: 'form' do %>

    <%# 0.0.0.0 must be used when discover is running inside a docker container %>
    <%#<%= form_tag 'http://0.0.0.0:8000/events', remote: true, class: 'new-event-form', id: 'form' do %>

    <%# localhost must be used when discover is running inside intellij %>
    <%= form_tag 'http://localhost:8000/events', remote: true, class: 'new-event-form', id: 'form' do %>

      <%#  Input for eventName %>
      <%= label_tag(:name, "Event Name") %>
      <%= text_field_tag(:name, nil, class: 'form-control',  placeholder: 'Event name') %>

      <%# Input for startDate %>
      <%= label_tag(:startDate, "Start Date") %>
      <%= datetime_field_tag(:startDate, nil, class: 'form-control') %>

      <%# Input for endDate %>
      <%= label_tag(:endDate, "End Date") %>
      <%= datetime_field_tag(:endDate, nil, class: 'form-control') %>

      <%#  Input for Latitude %>
      <%= label_tag(:latitude, "Latitude") %>
      <%= text_field_tag(:latitude, nil, class: 'form-control', placeholder: 'Latitude', readonly: true) %>

      <%#  Input for Longitude %>
      <%= label_tag(:longitude, "Longitude") %>
      <%= text_field_tag(:longitude, nil, class: 'form-control', placeholder: 'Longitude', readonly: true) %>

      <%# Cancel button tag %>
      <%= button_tag('Cancel', type: 'reset', class: 'btn btn-secondary', name: 'cancel', id: 'event-cancel') %>

      <%# Submit button tag %>
      <%= button_tag('Submit', type: 'custom-submit', class: 'btn btn-primary') %>
    <% end %>
  </div>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
</div>
<%= javascript_include_tag "map", "data-turbolinks-track" => "reload" %>
<%= javascript_include_tag "marketcluster", "data-turbolinks-track" => "reload" %>

<script src="//maps.google.com/maps/api/js?key=AIzaSyAuVYFVhtzgMTcLyoeSpNsFwWLv1PAcgfU&callback=initialize" async></script>
